@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 300 7% 97%;
    --foreground: 0 0% 10%;

    --card: 300 7% 97%;
    --card-foreground: 0 0% 10%;

    --popover: 300 7% 97%;
    --popover-foreground: 0 0% 10%;

    --primary: 267 21.2% 26.9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 10% 96%;
    --secondary-foreground: 290 35% 25%;

    --muted: 240 5% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 254 11% 55%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 90%;
    --input: 240 10% 90%;
    --ring: 290 35% 25%;

    --radius: 0.5rem;

    --sidebar-background: 300 7% 97%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 290 35% 25%;
  }

  .dark {
    --background: 290 35% 15%;
    --foreground: 0 0% 98%;

    --card: 290 35% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 290 35% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 290 35% 25%;

    --secondary: 290 20% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 290 20% 25%;
    --muted-foreground: 0 0% 65%;

    --accent: 280 20% 65%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 290 20% 25%;
    --input: 290 20% 25%;
    --ring: 280 20% 65%;
    
    --sidebar-background: 290 35% 15%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 280 20% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 290 25% 20%;
    --sidebar-accent-foreground: 0 0% 95%;
    --sidebar-border: 290 25% 20%;
    --sidebar-ring: 280 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
